
<!-- breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-heading">ITEM DETAILS</div>
</div>
<!-- breadcrumb ends -->

<!-- input and display table grid -->
<div class="container">
  <div class="row">
    <form [formGroup]="roomForm" style="background-color:#f2f2f2;margin-bottom:20px;padding-top:8px;">
      <div class="d-flex ">

        <div class="col-md-3 mb-3">
          <label for="selectedRoom">Select Room name:</label>
          <select formControlName="selectedRoom" class="form-control" id="selectedRoom" [(ngModel)]="selectedRoomValue">
            <option *ngFor="let item of roomList" [value]="item.room">{{item.room}}</option>
          </select>
        </div>
        <div class="col-md-3" style="margin-left: 10px;">
          <label for="selectedRoom">Select Room no:</label>
          <select formControlName="selectedRoomNo" class="form-control" [(ngModel)]="selectedRoomnoValue">
            <option *ngFor="let item of roomList" [value]="item.roomno">{{item.roomno}}</option>
          </select>
        </div>
      </div>
    </form>

    <!-- table heading and table -->
    <div class="col-12">

      <!-- table heading with search bar -->
      <div class="table-header">
        <p style="height:10px;"><strong>ITEM LIST</strong></p>
      </div>
      <!-- table heading with search bar ends-->
      <div>
        <!-- below class is for responsiveness -->
        <div class="table-responsive">
          <!-- id="myTable" -->
          <table class="table">
            <thead class="row-heading">
              <tr class="table100-head">
                <th>S.No</th>
                <th>Item name</th>
                <th >Brand</th>
                <th>No. Of Items</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of myArray; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <select class="form-control" [(ngModel)]="item.selectedItem" (change)="nameChanged(item)">
                    <option *ngFor="let item of additemsList" [value]="item.ItemName">{{item.ItemName}}</option>
                  </select>
                </td>
                <td *ngIf="isEditing && editedItem === item">
                  <input type="text" class="form-control" [(ngModel)]="item.brand">
                </td>
                <td>{{item.brand}}</td>
                <input type="number" class="form-control" style="width:100px;" [(ngModel)]="item.noOfItems">
                <td>
                  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-plus" (click)="addRow()" style="color:green;"></i>&nbsp;
                  <i style="color:red;" class="fa-solid fa-trash-arrow-up" (click)="deleteRow(i)"></i>
                </td>
              </tr>




            </tbody>

          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mx-2" (click)="cancel()">Cancel</button>
        <button *ngIf="!isEditing" type="button" class="btn btn-success mx-2" (click)="onSubmit()">Add</button>
        <button *ngIf="isEditing" type="button" class="btn btn-success mx-2" (click)="onUpdate()">Update</button>
      </div>
    </div>
    <!-- table heading and table ends -->


  </div>
</div>
<!-- input and display table grid ends -->
