
<!-- breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-heading">FLOOR DETAILS</div>
</div>
<!-- breadcrumb ends -->

<!-- input and display table grid -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3" style="background-color: #f2f2f2;padding:20px;height:355px;">
      <!-- getting campus as input -->
      <form class="panel panel-default" [formGroup]="floorForm">
        <div class="panel-body bg-gray">
          <p><strong>ADD FLOOR</strong></p>
          <label>Select Campus:</label>
          <div class="form-group">
            <select formControlName="selectedCampus" class="form-control" [(ngModel)]="selectedCampusValue">
              <option value="" selected disabled >Select a campus</option>
              <option *ngFor="let item of campList" [value]="item.campus">{{item.campus}}</option>
            </select>

          </div>
          <label style="padding-top:10px;">Select Block:</label>
          <div class="form-group">
  <select formControlName="selectedBlock" class="form-control" [(ngModel)]="selectedBlockValue">
      <option *ngFor="let item of getFilteredBlockList()" [value]="item.block">{{item.block}}</option>
  </select>
          </div>
         <label style="padding-top:10px;">Enter Floor:</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter floor name" formControlName="floor">
            <div style="color:red;font-size: small;"
              *ngIf="floorForm.controls['floor'].invalid && (floorForm.controls['floor'].dirty || floorForm.controls['floor'].touched)">
              <div *ngIf="floorForm.controls['floor'].errors.required">
                floor name is required.
              </div>
              <div *ngIf="floorForm.controls['floor'].errors.minlength">
                Floor name must be at least 2 characters long.
              </div>
            </div>
          </div>

          <button *ngIf="!isEditMode" type="button" class="btn btn-success" style="margin-top:20px;margin-left:190px;"
            [disabled]="!floorForm.valid" (click)="onSubmit()">Add</button>
            <button *ngIf="isEditMode" type="button" class="btn btn-success" style="margin-top:20px;margin-left:180px;"
            [disabled]="!floorForm.valid" (click)="onUpdate()" >Update</button>
        </div>
      </form>
    </div>
    <!-- table heading and table -->
    <div class="col-xs-12 col-sm-9 col-md-9 ">
      <!-- table heading with search bar -->
      <div class="table-header">
        <p style="height:10px;"><strong>FLOOR LIST</strong></p>
        <div class="table-controls">
          <div class="search">
            <div>
              <input type="text" placeholder="Search by floor" #searchButton (input)="onInput()">
              <button (click)="onSearch()" type="submit" class="lens"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- table heading with search bar ends-->

      <div class="">
        <div class="table-responsive">
          <table class="table ">
            <thead class="row-heading">
              <tr class="table100-head">
                <th class="column1 row-heading-th-tag ">S.No</th>
                <th class="column2 row-heading-th-tag">Campus</th>
                <th class="column2 row-heading-th-tag">Block</th>
                <th class="column2 row-heading-th-tag">Floor</th>
                <th class="column3 row-heading-th-tag">Edit</th>
                <th class="column4 row-heading-th-tag">Delete</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!isButtonClicked && selectedCampusValue && !selectedBlockValue">
                <tr *ngFor="let item of filteredCampusDetails(); let i = index;">
                  <td class="column1">{{ i + 1 }}</td>
                  <td class="column2">{{item.selectedCampus}}</td>
                  <td class="column2">{{item.selectedBlock}}</td>
                  <td class="column2">{{item.floor}}</td>
                  <td class="column3"> <i (click)="edit(item.id)" class="fa-solid fa-pen-to-square"></i></td>
                  <td class="column4"><i (click)="remove(item.id)" class="fa-solid fa-trash-arrow-up"></i>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="!isButtonClicked && selectedCampusValue && selectedBlockValue">
                <tr *ngFor="let item of filteredBlockDetails(); let i = index;">
                  <td class="column1">{{ i + 1 }}</td>
                  <td class="column2">{{item.selectedCampus}}</td>
                  <td class="column2">{{item.selectedBlock}}</td>
                  <td class="column2">{{item.floor}}</td>
                  <td class="column3"> <i (click)="edit(item.id)" class="fa-solid fa-pen-to-square"></i></td>
                  <td class="column4"><i (click)="remove(item.id)" class="fa-solid fa-trash-arrow-up"></i>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="!isButtonClicked && !selectedCampusValue && !selectedBlockValue">
                <tr *ngFor="let item of floorList; let i = index;">
                  <td class="column1">{{ i + 1 }}</td>
                  <td class="column2">{{item.selectedCampus}}</td>
                  <td class="column2">{{item.selectedBlock}}</td>
                  <td class="column2">{{item.floor}}</td>
                  <td class="column3"> <i (click)="edit(item.id)" class="fa-solid fa-pen-to-square"></i></td>
                  <td class="column4"><i (click)="remove(item.id)" class="fa-solid fa-trash-arrow-up"></i>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isButtonClicked">
                <tr *ngFor="let item of getSearchItem(); let i = index;">
                  <td class="column1">{{ i + 1 }}</td>
                  <td class="column2">{{item.selectedCampus}}</td>
                  <td class="column2">{{item.selectedBlock}}</td>
                  <td class="column2">{{item.floor}}</td>
                  <td class="column3"> <i (click)="edit(item.id)" class="fa-solid fa-pen-to-square"></i></td>
                  <td class="column4"><i (click)="remove(item.id)" class="fa-solid fa-trash-arrow-up"></i>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- table heading and table ends -->


  </div>
</div>
<!-- input and display table grid ends -->
