<!-- breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-heading">ITEM DETAILS</div>
  <div class="breadcrumb-path">Item details &nbsp; &gt; &nbsp; Add Items</div>
</div>
<!-- breadcrumb ends -->

<!-- form for item details -->
<div class="container bg-light px-5 py-3 form-container">
  <h1 class="h4 mb-3" style="padding-top: 10px;">ADD ITEMS</h1>

  <form [formGroup]="AddForm" ngNativeValidate>
    <div class="row">

      <div class="col-md-4 mb-3">
        <label class="form-label">Select campus:</label>
        <select formControlName="selectedCampus" class="form-control caret"  [(ngModel)]="selectedCampusValue">
          <option *ngFor="let item of campList" [value]="item.campus">{{item.campus}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Select block:</label>
        <select formControlName="selectedBlock" class="form-control caret" [(ngModel)]="selectedBlockValue">
          <option *ngFor="let item of getFilteredBlockList()" [value]="item.block">{{item.block}}</option>
      </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Select floor:</label>
        <select formControlName="selectedFloor" class="form-control caret" [(ngModel)]="selectedFloorValue">
          <option *ngFor="let item of getFilteredFloorList()" [value]="item.floor">{{item.floor}}</option>
      </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Select room:</label>
        <select formControlName="selectedRoom" class="form-control caret" [(ngModel)]="selectedRoomValue">
          <option *ngFor="let item of getFilteredRoomList()" [value]="item.room">{{item.room}}</option>
          </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Item Name:</label>
        <input type="text" class="form-control form-control-sm" formControlName="ItemName">
        <div *ngIf="AddForm.get('ItemName').invalid && (AddForm.get('ItemName').dirty || AddForm.get('ItemName').touched)" class="alert alert-danger">
          <div *ngIf="AddForm.get('ItemName').errors.required">Item name is required.</div>
          <div *ngIf="AddForm.get('ItemName').errors.minlength">Item name must be at least 2 characters long.</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Number of items:</label>
        <input type="tel" class="form-control form-control-sm" formControlName="itemno">
        <div *ngIf="AddForm.get('itemno').invalid && (AddForm.get('itemno').dirty || AddForm.get('itemno').touched)" class="alert alert-danger">
          <div *ngIf="AddForm.get('itemno').errors.required">Number of items  is required.</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Amount:</label>
        <input type="text" class="form-control form-control-sm" formControlName="amount">
        <div *ngIf="AddForm.get('amount').invalid && (AddForm.get('amount').dirty || AddForm.get('amount').touched)" class="alert alert-danger">
          <div *ngIf="AddForm.get('amount').errors.required">Amount is required.</div>
          <div *ngIf="AddForm.get('amount').errors.minlength">Amount must be at least 2 characters long.</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Item Description:</label>
        <textarea style="height:100px;" type="text" class="form-control form-control-sm" formControlName="description"></textarea>
        <div *ngIf="AddForm.get('description').invalid && (AddForm.get('description').dirty || AddForm.get('description').touched)" class="alert alert-danger">
          <div *ngIf="AddForm.get('description').errors.required">Description is required.</div>
          <div *ngIf="AddForm.get('description').errors.minlength">Description must be at least 2 characters long.</div>
        </div>
      </div>
      <!-- <div class="col-md-4 mb-3">
        <div class="form-check" style="padding-top:30px;">
          <label class="form-check-label">Warranty</label>
          <input type="checkbox" class="form-check-input " formControlName="warranty">
          <div *ngIf="warranty.invalid && (warranty.dirty || warranty.touched)">
            <div *ngIf="warranty.errors.requiredTrue">You must agree to the terms and conditions</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-check" style="padding-top:30px;">
          <label class="form-check-label">Warranty Claim</label>
          <input type="checkbox" class="form-check-input " formControlName="warrantyClaim" >
          <div *ngIf="warranty.invalid && (warranty.dirty || warranty.touched)">
            <div *ngIf="warranty.errors.requiredTrue">The field is required</div>
          </div>
        </div>
      </div> -->

    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button  *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="SubmitBtn()" [disabled]="!AddForm.valid">Add</button>
        <button  *ngIf="isEditing" type="submit" class="btn btn-success" (click)="onUpdate()" [disabled]="!AddForm.valid">Update</button>
      </div>
    </div>
  </form>
</div>

<!-- form for item details ends -->
