  <body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
          <form [formGroup]="loginForm">
            <h3>Log In</h3>
            <input type="text" placeholder="USERNAME" formControlName="name">
            <div *ngIf="myForm.controls.name.invalid && (myForm.controls.name.dirty || myForm.controls.name.touched)">
              <div class="alert alert-danger" *ngIf="myForm.controls.name.errors.required">Username is required</div>
            </div>
            <input type="text" placeholder="PASSWORD" formControlName="password">
            <div *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
              <div class="alert alert-danger" *ngIf="myForm.controls.password.errors.required">Password is required</div>
              <div class="alert alert-danger" *ngIf="myForm.controls.password.errors?.minlength">Password should have at least 8 characters</div>
            </div>
            <button class="submit" (click)="SubmitBtn()">submit</button>
          </form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>AMIZHTH</h2>
					<h5>COLLEGE INVENTORY SYSTEM</h5>
				</div>
			</div>
		</div>
	</section>
</body>

