  <nav class="main-menu">
    <ul>
      <li>
        <a [routerLink]="['/campus']" routerLinkActive="router-link-active" >
          <i class="fa fa-globe fa-2x"></i>

          <span class="nav-text">
            Campus
          </span>
        </a>

      </li><br>
      <li class="has-subnav">
        <a [routerLink]="['/block']" routerLinkActive="router-link-active">
          <i class="fa fa-home fa-2x"></i>

          <span class="nav-text">
            Block
          </span>
        </a>

      </li><br>
      <li class="has-subnav">
        <a [routerLink]="['/floor']" routerLinkActive="router-link-active">
          <!-- <i class="fa fa-comments fa-2x"></i> -->
          <i class="fa fa-film fa-2x"></i>
          <span class="nav-text">
            Floor
          </span>
        </a>

      </li><br>
      <li class="has-subnav">
        <a [routerLink]="['/rooms']" routerLinkActive="router-link-active">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text">
            Rooms
          </span>
        </a>

      </li><br>
      <!-- <li>
        <a [routerLink]="['/items']" routerLinkActive="router-link-active">
                    <i class="fa fa-camera-retro fa-2x"></i>

          <span class="nav-text">
            Items
          </span>
        </a>
      </li><br> -->
      <li>
        <a [routerLink]="['/item-details']" routerLinkActive="router-link-active">
                    <i class="fa fa-camera-retro fa-2x"></i>

          <span class="nav-text">
            Item Details
          </span>
        </a>
      </li><br>
      <!-- <li>
        <a [routerLink]="['/campus']" routerLinkActive="router-link-active">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text">
            Room details
          </span>
        </a>
      </li><br> -->
    </ul>

    <ul class="logout">
      <li>
        <a [routerLink]="['/campus']" routerLinkActive="router-link-active">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li><br>
    </ul>
  </nav>

