<div class="container bg-light px-5 py-3 form-container">
  <h1 class="h4 mb-3" style="padding-top: 10px;">ADD ITEMS</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="firstName" class="form-label">Item1</label>
        <input type="text" class="form-control form-control-sm" id="firstName">
      </div>
      <div class="col-md-4 mb-3">
        <label for="lastName" class="form-label">Item1</label>
        <input type="text" class="form-control form-control-sm" id="lastName">
      </div>g
      <div class="col-md-4 mb-3">
        <label for="email" class="form-label">Item1</label>
        <input type="email" class="form-control form-control-sm" id="email">
      </div>
      <div class="col-md-4 mb-3">
        <label for="phone" class="form-label">Item1</label>
        <input type="tel" class="form-control form-control-sm" id="phone">
      </div>
      <div class="col-md-4 mb-3">
        <label for="address" class="form-label">Item2</label>
        <input type="text" class="form-control form-control-sm" id="address">
      </div>
      <div class="col-md-4 mb-3">
        <label for="city" class="form-label">Item3</label>
        <input type="text" class="form-control form-control-sm" id="city">
      </div>
      <div class="col-md-4 mb-3">
        <label for="state" class="form-label">Item4</label>
        <input type="text" class="form-control form-control-sm" id="state">
      </div>
      <div class="col-md-4 mb-3">
        <label for="zip" class="form-label">Item5</label>
        <input type="text" class="form-control form-control-sm" id="zip">
      </div>
      <div class="col-md-4 mb-3">
        <label for="country" class="form-label">Item6</label>
        <input type="text" class="form-control form-control-sm" id="country">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button type="button" class="btn btn-danger me-3">Cancel</button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </form>
</div>
