
<!-- breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-heading">CAMPUS</div>
  <!-- <div class="breadcrumb-path">path1 &nbsp; &gt; &nbsp; path2</div> -->
</div>
<!-- breadcrumb ends -->

<!-- input and display table grid -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3" style="background-color: #f2f2f2;padding:20px;">
      <!-- getting campus as input -->
      <div class="panel panel-default">
        <div class="panel-body bg-gray">
          <h4>Enter Campus</h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter campus name">
          </div>
          <button type="button" class="btn btn-success" style="margin-top:20px;margin-left:190px;">Add</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9" >
<!-- table heading with search bar -->
<div class="table-header">
  <h2>CAMPUS DETAILS</h2>
  <div class="table-controls">
    <div class="search">
      <div>
        <input type="text" placeholder="Search">
        <button type="submit" class="lens"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <!-- <button (click)="onClick()" class="add-button"><i class="fa fa-plus"></i>&nbsp;Add</button> -->
  </div>
</div>

<!-- table heading with search bar ends-->
<div class="container">
    <!-- below class is for responsiveness -->
  <div class="wrap-table100">
  <table class="mytable">
  <thead class="row-heading">
  <tr class="table100-head">
  <th class="column1 row-heading-th-tag ">S.No</th>
  <th class="column2 row-heading-th-tag">Campus</th>
  <th class="column3 row-heading-th-tag">Edit</th>
  <th class="column4 row-heading-th-tag">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td class="column1"></td>
  <td class="column2"></td>
  <td class="column3"></td>
  <td class="column4"></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
    </div>
  </div>
</div>
<!-- input and display table grid ends -->



