
<!-- breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-heading">ROOM DETAILS</div>
</div>
<!-- breadcrumb ends -->

<!-- input and display table grid -->
<div class="container">
  <div class="row">
    <!-- table heading and table -->
    <div class="col-12 ">
      <!-- table heading with search bar -->
      <div class="table-header">
        <p style="height:10px;"><strong>ROOM LIST</strong></p>
        <div class="table-controls">
          <div class="search">
            <div>
              <input type="text" placeholder="Search">
              <button type="submit" class="lens"><i class="fas fa-search"></i></button>
            </div>
          </div>
                    <button routerLink="/room-details" class="add-button"><i class="fa fa-plus"></i>&nbsp;Add</button>
        </div>
      </div>
      <!-- table heading with search bar ends-->

      <div>
        <!-- below class is for responsiveness -->
        <div class="table-responsive">
          <table class="table">
            <thead class="row-heading">
              <tr class="table100-head">
                <th>S.No</th>
                <th>Room Name</th>
                <th>Room No</th>
                <th>No. Of Items</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of roomdetailsList; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ item.selectedRoom }}</td>
                <td>{{ item.selectedRoomNo }}</td>
                <td>{{ item.totalRows }}</td>
                <td>
                  <i (click)="edit(item.id)" class="fa-solid fa-pen-to-square"></i>&nbsp;
                  <i (click)="remove(item.id)" class="fa-solid fa-trash-arrow-up"></i>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- table heading and table ends -->
  </div>
</div>
<!-- input and display table grid ends -->
