<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Jost&display=swap" rel="stylesheet">
<nav class="topbar">
  <div class="heading">
    <h3>
     COLLEGE INVENTORY MANAGEMENT
    </h3>
  </div>
  <div class="profile">
    <div class="profile-pic">
      <img src="assets/images/avatar-1.png" alt="Founder's profile picture">
    </div>
    <div class="profile-name">{{ authService.username$ | async }}</div>
  </div>
</nav>

